{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "INGV Finite Source Catalog",
    "description": "An access point to a catalog containing scientific data about international earthquakes."
  },
  "servers": [
    {
      "url": "https://transit.rm.ingv.it/files/sar/V1/"
    }
  ],
  "tags": [
    {
      "name": "Configuration files",
      "description": "The configuration files contain the list of the available providers for the scenarios, the color palette used to represent the slip in the finite source data and some general data about the whole API."
    },
    {
      "name": "Catalog",
      "description": "The catalog contains a folder for each event named using the event id. Each folder contains the products of the event."
    },
    {
      "name": "Event",
      "description": "The event folder contains a JSON file with some details about the event and a folder for each product available for the event."
    },
    {
      "name": "Finite source",
      "description": "The finite source product is the central product of the catalog. It contains both images and texts describing the finite source of the event. It also contains a GeoJson file with the finite source data and a .zip file with all the data used to create the images and texts. If for an event the finite source product is not available, the folder is not present."
    },
    {
      "name": "Scenarios",
      "description": "The scenarios product is a collection of preliminary scenarios of the event. Each scenario is identified by its provider. Each scenario can contain images and texts describing the scenario. If for an event the scenarios product is not available, the folder is not present."
    },
    {
      "name": "Footprint",
      "description": "The footprint product contains the image and the description of the footprint of the event. If for an event the footprint product is not available, the folder is not present."
    },
    {
      "name": "Finite source Android App",
      "description": "The Finite source Android App is an Android application that allows to visualize the finite source and the other product of an the event on a map. In this folder there are custom JSON files containing the same data in the catalog but in a format to make the visualization on the map easier and faster."
    }
  ],
  "components": {
    "parameters": {
      "EventId": {
        "name": "eventId",
        "in": "path",
        "required": true,
        "description": "The id of the event.",
        "examples": {
          "id_1": {
            "value": "202302201704_01"
          },
          "id_2": {
            "value": "202306030149_01"
          },
          "id_3": {
            "value": "202309180310_01"
          }
        },
        "schema": {
          "type": "string",
          "example": "201511170710_01"
        }
      },
      "Language": {
        "name": "language",
        "in": "path",
        "required": true,
        "description": "The language of the description.",
        "examples": {
          "italian": {
            "value": "it"
          },
          "english": {
            "value": "en"
          }
        },
        "schema": {
          "type": "string",
          "example": "it",
          "enum": [
            "it",
            "en"
          ]
        }
      },
      "FocalPlane": {
        "name": "focalPlane",
        "in": "path",
        "required": true,
        "description": "The focal plane of the finite source.",
        "examples": {
          "fp1": {
            "value": "FP1"
          },
          "fp2": {
            "value": "FP2"
          }
        },
        "schema": {
          "type": "string",
          "example": "FP1",
          "enum": [
            "FP1",
            "FP2"
          ]
        }
      },
      "ScenarioId": {
        "name": "scenarioId",
        "in": "path",
        "required": true,
        "description": "The id of the scenario.",
        "examples": {
          "USGS": {
            "value": "USGS"
          },
          "GCMT": {
            "value": "GCMT"
          },
          "INGV": {
            "value": "INGV"
          }
        },
        "schema": {
          "type": "string",
          "example": "USGS"
        }
      },
      "GeoJsonFileName": {
        "name": "geoJsonFileName",
        "in": "path",
        "required": true,
        "description": "The name of the GeoJson file. It is found in the config/GenericConfig.json file.",
        "example": "Finite_source.json",
        "schema": {
          "type": "string",
          "example": "Finite_source.json"
        }
      }
    },
    "schemas": {
      "id_event": {
        "type": "string",
        "description": "Unique identifier of the event",
        "example": "201504250611_01"
      },
      "name": {
        "type": "string",
        "description": "The name of the event",
        "example": "Costa Greca Ionica (GRECIA)"
      },
      "bounding_box": {
        "type": "array",
        "items": {
          "type": "number",
          "format": "double"
        },
        "minItems": 4,
        "maxItems": 4,
        "example": [
          38.37522,
          20.42148,
          38.77527,
          20.60164
        ],
        "description": "The bounding box of the event. The order of the coordinates is: South, West, North, East."
      }
    },
    "responses": {
      "NotFound": {
        "description": "The requested resource was not found",
        "content": {
          "text/html; charset=iso-8859-1": {
            "schema": {
              "type": "string"
            },
            "examples": {
              "error": {
                "value": "<!DOCTYPE HTML PUBLIC \"-//IETF//DTD HTML 2.0//EN\">\n<html><head>\n<title>404 Not Found</title>\n</head><body>\n<h1>Not Found</h1>\n<p>The requested URL was not found on this server.</p>\n<hr>\n<address>Apache/2.4.56 (Debian) Server at transit.rm.ingv.it Port 443</address>\n</body></html>\n"
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/Config/FocalMechanismProviders.json": {
      "get": {
        "tags": [
          "Configuration files"
        ],
        "summary": "The list of the possible providers for the scenarios of an event",
        "description": "The list of the possible providers for the scenarios of an event. The providers are identified by their id.",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "provider_dir": {
                        "type": "string",
                        "example": "GFZ",
                        "description": "The id of the provider."
                      },
                      "provider_name": {
                        "type": "string",
                        "example": "Geofon GFZ",
                        "description": "The name of the provider."
                      },
                      "provider_url": {
                        "type": "string",
                        "format": "url",
                        "example": "https://geofon.gfz-potsdam.de/",
                        "description": "The URL of the provider."
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Config/GeneralConfig.json": {
      "get": {
        "tags": [
          "Configuration files"
        ],
        "summary": "A JSON file that contains some general data about the whole API",
        "description": "The configuration contains the list of the available languages, the URL of the INGV server to append the INGV event id, the name of the GeoJson file containing the finite source data to plot on a map, the version of the color palette used to represent the slip in the finite source data and the list of the id of the possible available products for the events in the catalog. ",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "server_ingv_it": {
                      "type": "string",
                      "format": "url",
                      "example": "http://terremoti.ingv.it/event/",
                      "description": "The URL of the INGV server to append the INGV event id."
                    },
                    "server_ingv_en": {
                      "type": "string",
                      "format": "url",
                      "example": "http://terremoti.ingv.it/en/event/",
                      "description": "The URL of the INGV server to append the INGV event id."
                    },
                    "source_geojson": {
                      "type": "string",
                      "example": "Finite_source.json",
                      "description": "The name of the GeoJson file containing the finite source data to plot on a map."
                    },
                    "palette_version": {
                      "type": "integer",
                      "example": 1,
                      "description": "The version of the color palette used to represent the slip in the finite source data. This is useful to force the update of the color palette in the client."
                    },
                    "product_list": {
                      "type": "array",
                      "example": [
                        "finite-source",
                        "scenarios",
                        "footprint"
                      ],
                      "description": "The list of the id of the possible available products for the events in the catalog.",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Catalog/event_list.json": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "The list of the events in the catalog",
        "description": "The list of the events in the catalog. The list is a JSON file containing an array with all the id of the events in the catalog.",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "description": "Unique identifier of the event",
                        "example": "201504250611_01"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total_event": {
                          "type": "integer",
                          "format": "number",
                          "example": 8,
                          "description": "The number of events in the catalog."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Catalog/{eventId}/event_details.json": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "The details of the event",
        "description": "All the details of the event like the id, the date, the magnitude, the depth, the location, the number of the scenarios and the number of the finite sources.",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "description": "The id of the event.",
            "examples": {
              "id_1": {
                "value": "202302201704_01"
              },
              "id_2": {
                "value": "202306030149_01"
              },
              "id_3": {
                "value": "202309180310_01"
              }
            },
            "schema": {
              "type": "string",
              "example": "201511170710_01"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "example": "Costa Greca Ionica (GRECIA)",
                      "description": "The name of the event."
                    },
                    "id_event": {
                      "type": "string",
                      "description": "Unique identifier of the event",
                      "example": "201504250611_01"
                    },
                    "longitude": {
                      "description": "Longitude of a point expressed in:\n\n* the ETRS89 system for Italian and European territories\n* and in WGS84 for the others.",
                      "example": 9.19289,
                      "externalDocs": {
                        "url": "http://dati.gov.it/onto/clvapit#long"
                      },
                      "format": "double",
                      "maximum": 180,
                      "minimum": -180,
                      "type": "number"
                    },
                    "latitude": {
                      "description": "Latitude of a point expressed in:\n\n* the ETRS89 system for Italian and European territories\n* and in WGS84 for the others.",
                      "example": 45.492599,
                      "externalDocs": {
                        "url": "http://dati.gov.it/onto/clvapit#long"
                      },
                      "format": "double",
                      "maximum": 90,
                      "minimum": -90,
                      "type": "number"
                    },
                    "depth": {
                      "type": "number",
                      "description": "Depth in Km | double",
                      "format": "double",
                      "example": 0.02
                    },
                    "occurring_time": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Origin time | datetime(3)",
                      "example": "2016-06-22T16:52:06.260Z"
                    },
                    "magnitude": {
                      "example": 6.5,
                      "type": "number",
                      "description": "Magnitude | double",
                      "format": "double"
                    },
                    "mag_type": {
                      "type": "string",
                      "description": "Type of the magnitude | varchar(255)",
                      "example": "ML-VAX"
                    },
                    "bounding_box": {
                      "type": "array",
                      "items": {
                        "type": "number",
                        "format": "double"
                      },
                      "minItems": 4,
                      "maxItems": 4,
                      "example": [
                        38.37522,
                        20.42148,
                        38.77527,
                        20.60164
                      ],
                      "description": "The bounding box of the event. The order of the coordinates is: South, West, North, East."
                    },
                    "products": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "minItems": 1,
                      "example": [
                        "finite-source",
                        "scenarios",
                        "footprint"
                      ],
                      "description": "The list of the id of the available products for the event."
                    },
                    "id_ingv": {
                      "type": "string",
                      "example": "123456789"
                    },
                    "focal_plane": {
                      "type": "integer",
                      "format": "number",
                      "example": 1,
                      "minimum": 0,
                      "maximum": 2,
                      "description": "The number of focal planes available for the event. 0: both FP1 and FP2 available, 1: only FP1 available, 2: only FP2 available"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found",
            "content": {
              "text/html; charset=iso-8859-1": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "error": {
                    "value": "<!DOCTYPE HTML PUBLIC \"-//IETF//DTD HTML 2.0//EN\">\n<html><head>\n<title>404 Not Found</title>\n</head><body>\n<h1>Not Found</h1>\n<p>The requested URL was not found on this server.</p>\n<hr>\n<address>Apache/2.4.56 (Debian) Server at transit.rm.ingv.it Port 443</address>\n</body></html>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Catalog/{eventId}/INVERSE/InversionDescription_{language}.txt": {
      "get": {
        "tags": [
          "Finite source"
        ],
        "summary": "The description of the finite source of the event",
        "description": "The description of the finite source of the event. The description is a text file.",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "description": "The id of the event.",
            "examples": {
              "id_1": {
                "value": "202302201704_01"
              },
              "id_2": {
                "value": "202306030149_01"
              },
              "id_3": {
                "value": "202309180310_01"
              }
            },
            "schema": {
              "type": "string",
              "example": "201511170710_01"
            }
          },
          {
            "name": "language",
            "in": "path",
            "required": true,
            "description": "The language of the description.",
            "examples": {
              "italian": {
                "value": "it"
              },
              "english": {
                "value": "en"
              }
            },
            "schema": {
              "type": "string",
              "example": "it",
              "enum": [
                "it",
                "en"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "The description of the finite source of the event."
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found",
            "content": {
              "text/html; charset=iso-8859-1": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "error": {
                    "value": "<!DOCTYPE HTML PUBLIC \"-//IETF//DTD HTML 2.0//EN\">\n<html><head>\n<title>404 Not Found</title>\n</head><body>\n<h1>Not Found</h1>\n<p>The requested URL was not found on this server.</p>\n<hr>\n<address>Apache/2.4.56 (Debian) Server at transit.rm.ingv.it Port 443</address>\n</body></html>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Catalog/{eventId}/INVERSE/{focalPlane}/finite_source_details.json": {
      "get": {
        "summary": "The details of the finite source of the event",
        "description": "The details of the finite source of the event. The details are the same for both the focal planes.",
        "tags": [
          "Finite source"
        ],
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "description": "The id of the event.",
            "examples": {
              "id_1": {
                "value": "202302201704_01"
              },
              "id_2": {
                "value": "202306030149_01"
              },
              "id_3": {
                "value": "202309180310_01"
              }
            },
            "schema": {
              "type": "string",
              "example": "201511170710_01"
            }
          },
          {
            "name": "focalPlane",
            "in": "path",
            "required": true,
            "description": "The focal plane of the finite source.",
            "examples": {
              "fp1": {
                "value": "FP1"
              },
              "fp2": {
                "value": "FP2"
              }
            },
            "schema": {
              "type": "string",
              "example": "FP1",
              "enum": [
                "FP1",
                "FP2"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "last_updated": {
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "description": "Last Review | timestamp",
                      "example": "2016-06-22T16:52:06.260Z"
                    },
                    "maximum_slip": {
                      "type": "number",
                      "format": "double",
                      "example": 1.823,
                      "description": "The maximum slip value of the finite source of the event in meters."
                    },
                    "minimum_slip": {
                      "type": "number",
                      "format": "double",
                      "example": 0,
                      "description": "The minimum slip value of the finite source of the event in meters."
                    },
                    "source_bounding_box": {
                      "type": "array",
                      "items": {
                        "type": "number",
                        "format": "double"
                      },
                      "minItems": 4,
                      "maxItems": 4,
                      "example": [
                        38.37522,
                        20.42148,
                        38.77527,
                        20.60164
                      ],
                      "description": "The bounding box of the event. The order of the coordinates is: South, West, North, East."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found",
            "content": {
              "text/html; charset=iso-8859-1": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "error": {
                    "value": "<!DOCTYPE HTML PUBLIC \"-//IETF//DTD HTML 2.0//EN\">\n<html><head>\n<title>404 Not Found</title>\n</head><body>\n<h1>Not Found</h1>\n<p>The requested URL was not found on this server.</p>\n<hr>\n<address>Apache/2.4.56 (Debian) Server at transit.rm.ingv.it Port 443</address>\n</body></html>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Catalog/{eventId}/INVERSE/{focalPlane}/data_and_model.zip": {
      "get": {
        "tags": [
          "Finite source"
        ],
        "summary": "The original data used to create the finite source of the event",
        "description": "The original data used to create the finite source of the event. The data is contained in a .zip file.",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "description": "The id of the event.",
            "examples": {
              "id_1": {
                "value": "202302201704_01"
              },
              "id_2": {
                "value": "202306030149_01"
              },
              "id_3": {
                "value": "202309180310_01"
              }
            },
            "schema": {
              "type": "string",
              "example": "201511170710_01"
            }
          },
          {
            "name": "focalPlane",
            "in": "path",
            "required": true,
            "description": "The focal plane of the finite source.",
            "examples": {
              "fp1": {
                "value": "FP1"
              },
              "fp2": {
                "value": "FP2"
              }
            },
            "schema": {
              "type": "string",
              "example": "FP1",
              "enum": [
                "FP1",
                "FP2"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "The data and the model used to create the finite source of the event."
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found",
            "content": {
              "text/html; charset=iso-8859-1": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "error": {
                    "value": "<!DOCTYPE HTML PUBLIC \"-//IETF//DTD HTML 2.0//EN\">\n<html><head>\n<title>404 Not Found</title>\n</head><body>\n<h1>Not Found</h1>\n<p>The requested URL was not found on this server.</p>\n<hr>\n<address>Apache/2.4.56 (Debian) Server at transit.rm.ingv.it Port 443</address>\n</body></html>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Catalog/{eventId}/INVERSE/{focalPlane}/SOURCES/{geoJsonFileName}": {
      "get": {
        "tags": [
          "Finite source"
        ],
        "summary": "The finite source of the event",
        "description": "The finite source of the event. The finite source is a GeoJson file. The GeoJson file contains a FeatureCollection with a Feature for each polygon of the finite source. Every Polygon has two properties, the slip and the rake. The GeoJson also contains the trace of the fault as a MultiLineString. The properties of the trace are empty.",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "description": "The id of the event.",
            "examples": {
              "id_1": {
                "value": "202302201704_01"
              },
              "id_2": {
                "value": "202306030149_01"
              },
              "id_3": {
                "value": "202309180310_01"
              }
            },
            "schema": {
              "type": "string",
              "example": "201511170710_01"
            }
          },
          {
            "name": "focalPlane",
            "in": "path",
            "required": true,
            "description": "The focal plane of the finite source.",
            "examples": {
              "fp1": {
                "value": "FP1"
              },
              "fp2": {
                "value": "FP2"
              }
            },
            "schema": {
              "type": "string",
              "example": "FP1",
              "enum": [
                "FP1",
                "FP2"
              ]
            }
          },
          {
            "name": "geoJsonFileName",
            "in": "path",
            "required": true,
            "description": "The name of the GeoJson file. It is found in the /config/GeneralConfig.json file. It is the same for all the events.",
            "example": "Finite_source.json",
            "schema": {
              "type": "string",
              "example": "Finite_source.json"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "The finite source of this focal plane in the event as a GeoJson.",
                  "example": "{ \"type\": \"FeatureCollection\", \"features\": [ { \"type\": \"Feature\", \"geometry\": { \"type\": \"Polygon\", \"coordinates\": [ [ 85.745, 27.459, -7240.8 ] ] }, \"properties\": { \"Slip_m\": 1.028, \"Rake_d\": 137.44 } } ] }"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found",
            "content": {
              "text/html; charset=iso-8859-1": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "error": {
                    "value": "<!DOCTYPE HTML PUBLIC \"-//IETF//DTD HTML 2.0//EN\">\n<html><head>\n<title>404 Not Found</title>\n</head><body>\n<h1>Not Found</h1>\n<p>The requested URL was not found on this server.</p>\n<hr>\n<address>Apache/2.4.56 (Debian) Server at transit.rm.ingv.it Port 443</address>\n</body></html>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Catalog/{eventId}/INVERSE/{focalPlane}/GRAPHICS/MainInversionMap.jpg": {
      "get": {
        "tags": [
          "Finite source"
        ],
        "summary": "The main inversion map of the finite source of the event",
        "description": "The main inversion map of the finite source of the event. The image is a JPEG file.",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "description": "The id of the event.",
            "examples": {
              "id_1": {
                "value": "202302201704_01"
              },
              "id_2": {
                "value": "202306030149_01"
              },
              "id_3": {
                "value": "202309180310_01"
              }
            },
            "schema": {
              "type": "string",
              "example": "201511170710_01"
            }
          },
          {
            "name": "focalPlane",
            "in": "path",
            "required": true,
            "description": "The focal plane of the finite source.",
            "examples": {
              "fp1": {
                "value": "FP1"
              },
              "fp2": {
                "value": "FP2"
              }
            },
            "schema": {
              "type": "string",
              "example": "FP1",
              "enum": [
                "FP1",
                "FP2"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "The main inversion map of the finite source of the event."
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found",
            "content": {
              "text/html; charset=iso-8859-1": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "error": {
                    "value": "<!DOCTYPE HTML PUBLIC \"-//IETF//DTD HTML 2.0//EN\">\n<html><head>\n<title>404 Not Found</title>\n</head><body>\n<h1>Not Found</h1>\n<p>The requested URL was not found on this server.</p>\n<hr>\n<address>Apache/2.4.56 (Debian) Server at transit.rm.ingv.it Port 443</address>\n</body></html>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Catalog/{eventId}/INVERSE/{focalPlane}/GRAPHICS/SlipDistribution.jpg": {
      "get": {
        "tags": [
          "Finite source"
        ],
        "summary": "The slip distribution of the finite source of the event",
        "description": "The slip distribution of the finite source of the event. The image is a JPEG file.",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "description": "The id of the event.",
            "examples": {
              "id_1": {
                "value": "202302201704_01"
              },
              "id_2": {
                "value": "202306030149_01"
              },
              "id_3": {
                "value": "202309180310_01"
              }
            },
            "schema": {
              "type": "string",
              "example": "201511170710_01"
            }
          },
          {
            "name": "focalPlane",
            "in": "path",
            "required": true,
            "description": "The focal plane of the finite source.",
            "examples": {
              "fp1": {
                "value": "FP1"
              },
              "fp2": {
                "value": "FP2"
              }
            },
            "schema": {
              "type": "string",
              "example": "FP1",
              "enum": [
                "FP1",
                "FP2"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "The slip distribution of the finite source of the event."
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found",
            "content": {
              "text/html; charset=iso-8859-1": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "error": {
                    "value": "<!DOCTYPE HTML PUBLIC \"-//IETF//DTD HTML 2.0//EN\">\n<html><head>\n<title>404 Not Found</title>\n</head><body>\n<h1>Not Found</h1>\n<p>The requested URL was not found on this server.</p>\n<hr>\n<address>Apache/2.4.56 (Debian) Server at transit.rm.ingv.it Port 443</address>\n</body></html>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Catalog/{eventId}/INVERSE/{focalPlane}/GRAPHICS/ResultDescription_{language}.txt": {
      "get": {
        "tags": [
          "Finite source"
        ],
        "summary": "The description of the images of the finite source of the event",
        "description": "The description of the images of the finite source of the event. The description is a text file.",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "description": "The id of the event.",
            "examples": {
              "id_1": {
                "value": "202302201704_01"
              },
              "id_2": {
                "value": "202306030149_01"
              },
              "id_3": {
                "value": "202309180310_01"
              }
            },
            "schema": {
              "type": "string",
              "example": "201511170710_01"
            }
          },
          {
            "name": "focalPlane",
            "in": "path",
            "required": true,
            "description": "The focal plane of the finite source.",
            "examples": {
              "fp1": {
                "value": "FP1"
              },
              "fp2": {
                "value": "FP2"
              }
            },
            "schema": {
              "type": "string",
              "example": "FP1",
              "enum": [
                "FP1",
                "FP2"
              ]
            }
          },
          {
            "name": "language",
            "in": "path",
            "required": true,
            "description": "The language of the description.",
            "examples": {
              "italian": {
                "value": "it"
              },
              "english": {
                "value": "en"
              }
            },
            "schema": {
              "type": "string",
              "example": "it",
              "enum": [
                "it",
                "en"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "The description of the images of the finite source of the event."
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found",
            "content": {
              "text/html; charset=iso-8859-1": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "error": {
                    "value": "<!DOCTYPE HTML PUBLIC \"-//IETF//DTD HTML 2.0//EN\">\n<html><head>\n<title>404 Not Found</title>\n</head><body>\n<h1>Not Found</h1>\n<p>The requested URL was not found on this server.</p>\n<hr>\n<address>Apache/2.4.56 (Debian) Server at transit.rm.ingv.it Port 443</address>\n</body></html>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Catalog/{eventId}/FOC_MECH_FWD/FocMechFwdDescription_{language}.txt": {
      "get": {
        "tags": [
          "Scenarios"
        ],
        "summary": "The description of the scenarios of the event",
        "description": "The description of the scenarios of the event. The description is a text file.",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "description": "The id of the event.",
            "examples": {
              "id_1": {
                "value": "202302201704_01"
              },
              "id_2": {
                "value": "202306030149_01"
              },
              "id_3": {
                "value": "202309180310_01"
              }
            },
            "schema": {
              "type": "string",
              "example": "201511170710_01"
            }
          },
          {
            "name": "language",
            "in": "path",
            "required": true,
            "description": "The language of the description.",
            "examples": {
              "italian": {
                "value": "it"
              },
              "english": {
                "value": "en"
              }
            },
            "schema": {
              "type": "string",
              "example": "it",
              "enum": [
                "it",
                "en"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "The description of the scenarios of the event."
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found",
            "content": {
              "text/html; charset=iso-8859-1": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "error": {
                    "value": "<!DOCTYPE HTML PUBLIC \"-//IETF//DTD HTML 2.0//EN\">\n<html><head>\n<title>404 Not Found</title>\n</head><body>\n<h1>Not Found</h1>\n<p>The requested URL was not found on this server.</p>\n<hr>\n<address>Apache/2.4.56 (Debian) Server at transit.rm.ingv.it Port 443</address>\n</body></html>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Catalog/{eventId}/FOC_MECH_FWD/scenarios_details.json": {
      "get": {
        "summary": "The details of the scenario product for the event",
        "description": "The details of the scenario product for the event.",
        "tags": [
          "Scenarios"
        ],
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "description": "The id of the event.",
            "examples": {
              "id_1": {
                "value": "202302201704_01"
              },
              "id_2": {
                "value": "202306030149_01"
              },
              "id_3": {
                "value": "202309180310_01"
              }
            },
            "schema": {
              "type": "string",
              "example": "201511170710_01"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "last_updated": {
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "description": "Last Review | timestamp",
                      "example": "2016-06-22T16:52:06.260Z"
                    },
                    "providers": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "minItems": 1,
                      "example": [
                        "GFZ",
                        "USGS",
                        "INGV"
                      ],
                      "description": "The list of the id of the available providers for the scenario."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found",
            "content": {
              "text/html; charset=iso-8859-1": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "error": {
                    "value": "<!DOCTYPE HTML PUBLIC \"-//IETF//DTD HTML 2.0//EN\">\n<html><head>\n<title>404 Not Found</title>\n</head><body>\n<h1>Not Found</h1>\n<p>The requested URL was not found on this server.</p>\n<hr>\n<address>Apache/2.4.56 (Debian) Server at transit.rm.ingv.it Port 443</address>\n</body></html>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Catalog/{eventId}/FOC_MECH_FWD/{scenarioId}/{focalPlane}/GRAPHICS/DisplacementMap.jpg": {
      "get": {
        "tags": [
          "Scenarios"
        ],
        "summary": "The displacement map of the scenario of the event",
        "description": "The displacement map of the scenario of the event. The image is a JPEG file. This file might not be available for all the events. If this file is available, the displacement map description is also available.",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "description": "The id of the event.",
            "examples": {
              "id_1": {
                "value": "202302201704_01"
              },
              "id_2": {
                "value": "202306030149_01"
              },
              "id_3": {
                "value": "202309180310_01"
              }
            },
            "schema": {
              "type": "string",
              "example": "201511170710_01"
            }
          },
          {
            "name": "scenarioId",
            "in": "path",
            "required": true,
            "description": "The id of the scenario.",
            "examples": {
              "USGS": {
                "value": "USGS"
              },
              "GCMT": {
                "value": "GCMT"
              },
              "INGV": {
                "value": "INGV"
              }
            },
            "schema": {
              "type": "string",
              "example": "USGS"
            }
          },
          {
            "name": "focalPlane",
            "in": "path",
            "required": true,
            "description": "The focal plane of the finite source.",
            "examples": {
              "fp1": {
                "value": "FP1"
              },
              "fp2": {
                "value": "FP2"
              }
            },
            "schema": {
              "type": "string",
              "example": "FP1",
              "enum": [
                "FP1",
                "FP2"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "The displacement map of the scenario of the event."
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found",
            "content": {
              "text/html; charset=iso-8859-1": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "error": {
                    "value": "<!DOCTYPE HTML PUBLIC \"-//IETF//DTD HTML 2.0//EN\">\n<html><head>\n<title>404 Not Found</title>\n</head><body>\n<h1>Not Found</h1>\n<p>The requested URL was not found on this server.</p>\n<hr>\n<address>Apache/2.4.56 (Debian) Server at transit.rm.ingv.it Port 443</address>\n</body></html>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Catalog/{eventId}/FOC_MECH_FWD/{scenarioId}/{focalPlane}/GRAPHICS/PredictedFringes.jpg": {
      "get": {
        "tags": [
          "Scenarios"
        ],
        "summary": "The predicted fringes of the scenario of the event",
        "description": "The predicted fringes of the scenario of the event. The image is a JPEG file. This file might not be available for all the events. If this file is available, the predicted fringes description is also available.",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "description": "The id of the event.",
            "examples": {
              "id_1": {
                "value": "202302201704_01"
              },
              "id_2": {
                "value": "202306030149_01"
              },
              "id_3": {
                "value": "202309180310_01"
              }
            },
            "schema": {
              "type": "string",
              "example": "201511170710_01"
            }
          },
          {
            "name": "scenarioId",
            "in": "path",
            "required": true,
            "description": "The id of the scenario.",
            "examples": {
              "USGS": {
                "value": "USGS"
              },
              "GCMT": {
                "value": "GCMT"
              },
              "INGV": {
                "value": "INGV"
              }
            },
            "schema": {
              "type": "string",
              "example": "USGS"
            }
          },
          {
            "name": "focalPlane",
            "in": "path",
            "required": true,
            "description": "The focal plane of the finite source.",
            "examples": {
              "fp1": {
                "value": "FP1"
              },
              "fp2": {
                "value": "FP2"
              }
            },
            "schema": {
              "type": "string",
              "example": "FP1",
              "enum": [
                "FP1",
                "FP2"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "The predicted fringes of the scenario of the event."
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found",
            "content": {
              "text/html; charset=iso-8859-1": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "error": {
                    "value": "<!DOCTYPE HTML PUBLIC \"-//IETF//DTD HTML 2.0//EN\">\n<html><head>\n<title>404 Not Found</title>\n</head><body>\n<h1>Not Found</h1>\n<p>The requested URL was not found on this server.</p>\n<hr>\n<address>Apache/2.4.56 (Debian) Server at transit.rm.ingv.it Port 443</address>\n</body></html>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Catalog/{eventId}/FOC_MECH_FWD/{scenarioId}/{focalPlane}/GRAPHICS/DisplacementMap_{language}.txt": {
      "get": {
        "tags": [
          "Scenarios"
        ],
        "summary": "The description of the displacement map of the scenario of the event",
        "description": "The description of the displacement map of the scenario of the event. The description is a text file. This file might not be available for all the events. If this file is available, the displacement map image is also available.",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "description": "The id of the event.",
            "examples": {
              "id_1": {
                "value": "202302201704_01"
              },
              "id_2": {
                "value": "202306030149_01"
              },
              "id_3": {
                "value": "202309180310_01"
              }
            },
            "schema": {
              "type": "string",
              "example": "201511170710_01"
            }
          },
          {
            "name": "scenarioId",
            "in": "path",
            "required": true,
            "description": "The id of the scenario.",
            "examples": {
              "USGS": {
                "value": "USGS"
              },
              "GCMT": {
                "value": "GCMT"
              },
              "INGV": {
                "value": "INGV"
              }
            },
            "schema": {
              "type": "string",
              "example": "USGS"
            }
          },
          {
            "name": "focalPlane",
            "in": "path",
            "required": true,
            "description": "The focal plane of the finite source.",
            "examples": {
              "fp1": {
                "value": "FP1"
              },
              "fp2": {
                "value": "FP2"
              }
            },
            "schema": {
              "type": "string",
              "example": "FP1",
              "enum": [
                "FP1",
                "FP2"
              ]
            }
          },
          {
            "name": "language",
            "in": "path",
            "required": true,
            "description": "The language of the description.",
            "examples": {
              "italian": {
                "value": "it"
              },
              "english": {
                "value": "en"
              }
            },
            "schema": {
              "type": "string",
              "example": "it",
              "enum": [
                "it",
                "en"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "The description of the displacement map of the scenario of the event."
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found",
            "content": {
              "text/html; charset=iso-8859-1": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "error": {
                    "value": "<!DOCTYPE HTML PUBLIC \"-//IETF//DTD HTML 2.0//EN\">\n<html><head>\n<title>404 Not Found</title>\n</head><body>\n<h1>Not Found</h1>\n<p>The requested URL was not found on this server.</p>\n<hr>\n<address>Apache/2.4.56 (Debian) Server at transit.rm.ingv.it Port 443</address>\n</body></html>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Catalog/{eventId}/FOC_MECH_FWD/{scenarioId}/{focalPlane}/GRAPHICS/PredictedFringes_{language}.txt": {
      "get": {
        "tags": [
          "Scenarios"
        ],
        "summary": "The description of the predicted fringes of the scenario of the event",
        "description": "The description of the predicted fringes of the scenario of the event. The description is a text file. This file might not be available for all the events. If this file is available, the predicted fringes image is also available.",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "description": "The id of the event.",
            "examples": {
              "id_1": {
                "value": "202302201704_01"
              },
              "id_2": {
                "value": "202306030149_01"
              },
              "id_3": {
                "value": "202309180310_01"
              }
            },
            "schema": {
              "type": "string",
              "example": "201511170710_01"
            }
          },
          {
            "name": "scenarioId",
            "in": "path",
            "required": true,
            "description": "The id of the scenario.",
            "examples": {
              "USGS": {
                "value": "USGS"
              },
              "GCMT": {
                "value": "GCMT"
              },
              "INGV": {
                "value": "INGV"
              }
            },
            "schema": {
              "type": "string",
              "example": "USGS"
            }
          },
          {
            "name": "focalPlane",
            "in": "path",
            "required": true,
            "description": "The focal plane of the finite source.",
            "examples": {
              "fp1": {
                "value": "FP1"
              },
              "fp2": {
                "value": "FP2"
              }
            },
            "schema": {
              "type": "string",
              "example": "FP1",
              "enum": [
                "FP1",
                "FP2"
              ]
            }
          },
          {
            "name": "language",
            "in": "path",
            "required": true,
            "description": "The language of the description.",
            "examples": {
              "italian": {
                "value": "it"
              },
              "english": {
                "value": "en"
              }
            },
            "schema": {
              "type": "string",
              "example": "it",
              "enum": [
                "it",
                "en"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "The description of the predicted fringes of the scenario of the event."
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found",
            "content": {
              "text/html; charset=iso-8859-1": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "error": {
                    "value": "<!DOCTYPE HTML PUBLIC \"-//IETF//DTD HTML 2.0//EN\">\n<html><head>\n<title>404 Not Found</title>\n</head><body>\n<h1>Not Found</h1>\n<p>The requested URL was not found on this server.</p>\n<hr>\n<address>Apache/2.4.56 (Debian) Server at transit.rm.ingv.it Port 443</address>\n</body></html>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Catalog/{eventId}/ANCILLARY/footprints_details.json": {
      "get": {
        "summary": "The details of the footprint product for the event",
        "description": "The details of the footprint product for the event.",
        "tags": [
          "Footprint"
        ],
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "description": "The id of the event.",
            "examples": {
              "id_1": {
                "value": "202302201704_01"
              },
              "id_2": {
                "value": "202306030149_01"
              },
              "id_3": {
                "value": "202309180310_01"
              }
            },
            "schema": {
              "type": "string",
              "example": "201511170710_01"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "last_updated": {
                      "type": "string",
                      "format": "date-time",
                      "readOnly": true,
                      "description": "Last Review | timestamp",
                      "example": "2016-06-22T16:52:06.260Z"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found",
            "content": {
              "text/html; charset=iso-8859-1": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "error": {
                    "value": "<!DOCTYPE HTML PUBLIC \"-//IETF//DTD HTML 2.0//EN\">\n<html><head>\n<title>404 Not Found</title>\n</head><body>\n<h1>Not Found</h1>\n<p>The requested URL was not found on this server.</p>\n<hr>\n<address>Apache/2.4.56 (Debian) Server at transit.rm.ingv.it Port 443</address>\n</body></html>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Catalog/{eventId}/ANCILLARY/SentinelFootprint.jpg": {
      "get": {
        "tags": [
          "Footprint"
        ],
        "summary": "The image for the footprint of the event",
        "description": "The image for the footprint of the event. The image is a JPEG file.",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "description": "The id of the event.",
            "examples": {
              "id_1": {
                "value": "202302201704_01"
              },
              "id_2": {
                "value": "202306030149_01"
              },
              "id_3": {
                "value": "202309180310_01"
              }
            },
            "schema": {
              "type": "string",
              "example": "201511170710_01"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "The footprint of the event."
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found",
            "content": {
              "text/html; charset=iso-8859-1": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "error": {
                    "value": "<!DOCTYPE HTML PUBLIC \"-//IETF//DTD HTML 2.0//EN\">\n<html><head>\n<title>404 Not Found</title>\n</head><body>\n<h1>Not Found</h1>\n<p>The requested URL was not found on this server.</p>\n<hr>\n<address>Apache/2.4.56 (Debian) Server at transit.rm.ingv.it Port 443</address>\n</body></html>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Catalog/{eventId}/ANCILLARY/FootprintDescription_{language}.txt": {
      "get": {
        "tags": [
          "Footprint"
        ],
        "summary": "The description of the footprint of the event",
        "description": "The description of the footprint of the event. The description is a text file.",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "description": "The id of the event.",
            "examples": {
              "id_1": {
                "value": "202302201704_01"
              },
              "id_2": {
                "value": "202306030149_01"
              },
              "id_3": {
                "value": "202309180310_01"
              }
            },
            "schema": {
              "type": "string",
              "example": "201511170710_01"
            }
          },
          {
            "name": "language",
            "in": "path",
            "required": true,
            "description": "The language of the description.",
            "examples": {
              "italian": {
                "value": "it"
              },
              "english": {
                "value": "en"
              }
            },
            "schema": {
              "type": "string",
              "example": "it",
              "enum": [
                "it",
                "en"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "The description of the footprint of the event."
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found",
            "content": {
              "text/html; charset=iso-8859-1": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "error": {
                    "value": "<!DOCTYPE HTML PUBLIC \"-//IETF//DTD HTML 2.0//EN\">\n<html><head>\n<title>404 Not Found</title>\n</head><body>\n<h1>Not Found</h1>\n<p>The requested URL was not found on this server.</p>\n<hr>\n<address>Apache/2.4.56 (Debian) Server at transit.rm.ingv.it Port 443</address>\n</body></html>\n"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Finite_source_app/app.json": {
      "get": {
        "summary": "A JSON file that contains all the data necessary to the initial visualization of the events on the map",
        "description": "A JSON file that contains all the data necessary to the initial visualization of the events on the map. The JSON file contains an array of objects. Each object contains the data of an event. The data in this file is the same as the data in the catalog but put together to avoid multiple requests to the server.",
        "tags": [
          "Finite source Android App"
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id_event": {
                        "type": "string",
                        "description": "Unique identifier of the event",
                        "example": "201504250611_01"
                      },
                      "name": {
                        "type": "string",
                        "description": "The name of the event",
                        "example": "Costa Greca Ionica (GRECIA)"
                      },
                      "occurring_time": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Origin time | datetime(3)",
                        "example": "2016-06-22T16:52:06.260Z"
                      },
                      "longitude": {
                        "description": "Longitude of a point expressed in:\n\n* the ETRS89 system for Italian and European territories\n* and in WGS84 for the others.",
                        "example": 9.19289,
                        "externalDocs": {
                          "url": "http://dati.gov.it/onto/clvapit#long"
                        },
                        "format": "double",
                        "maximum": 180,
                        "minimum": -180,
                        "type": "number"
                      },
                      "latitude": {
                        "description": "Latitude of a point expressed in:\n\n* the ETRS89 system for Italian and European territories\n* and in WGS84 for the others.",
                        "example": 45.492599,
                        "externalDocs": {
                          "url": "http://dati.gov.it/onto/clvapit#long"
                        },
                        "format": "double",
                        "maximum": 90,
                        "minimum": -90,
                        "type": "number"
                      },
                      "depth": {
                        "type": "number",
                        "description": "Depth in Km | double",
                        "format": "double",
                        "example": 0.02
                      },
                      "magnitude": {
                        "example": 6.5,
                        "type": "number",
                        "description": "Magnitude | double",
                        "format": "double"
                      },
                      "bounding_box": {
                        "type": "array",
                        "items": {
                          "type": "number",
                          "format": "double"
                        },
                        "minItems": 4,
                        "maxItems": 4,
                        "example": [
                          38.37522,
                          20.42148,
                          38.77527,
                          20.60164
                        ],
                        "description": "The bounding box of the event. The order of the coordinates is: South, West, North, East."
                      },
                      "finite_source_last_updated": {
                        "nullable": true,
                        "description": "The date of the last update of the product or the date of the time it was published if never updated. If the product is not available, this field is null.",
                        "type": "string",
                        "format": "date-time",
                        "example": "2016-06-22T16:52:06.260Z"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}